/* Aplicaciones generales */
* {
    margin: 0;
    background-color: lightblue;
    box-sizing: border-box;
}
/* Formato para móvil */
@media(max-width: 300px) {
    header>h1 {
        height: 50px;
        text-align: center;
    }
    header>a>img {
        height: 30px;
    }
}
/* Formato para tablet */
@media(min-width: 301px) {}

/* Formato de escritorio */
@media(min-width: 800px) {
    nav {
        height: auto;
        display: flex;
        margin: 2%;
    }
    header>h1 {
        height: 45px;
        text-align: center;
    }
    header>a>img {
        height: 200px;
        padding-left: 42%;
    }
    main {
        display: inline-flex;
        padding: 5px;
    }
    #SAudio {
        background-color: lightseagreen;
        height: 100px;
        width: 450px;
        display: block;
        text-align: center;
        margin-right: 8px;
    }
    #SVideo {
        background-color: lightsalmon;
        height: 460px;
        width: 450px;
        flex-direction: column;
        text-align: center;
        margin-right: 8px;
    }
    #SVFuente{
        background-color: lightgreen;
        text-align: center;
        height: 410px;
        width: 425px;       
    }
}