/* Versión para móvil */
*{
    margin: 0;
    box-sizing: border-box;
}

header, nav{
    height: 50px;
}

footer{
    display: none;
}

main{
    min-height: cal(100vh - 150px);
}



aside{
    position: absolute;
    min-height: 50px;
}